<section class="section education-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
              <h3 class="job-title">MSc in Computer Science</h3>
                <div class="time">02.2016 - 09.2017</div>
            </div><!--//upper-row-->
            <div class="company">AGH University of Science and Technology in Cracow</div>
        </div><!--//meta-->
        <div class="details">
          <p>Authored <i>“Optimization of delivered dose in proton radiotherapy based on Monte Carlo particle transport simulations”</i>.</p>
          <p>This included grid computing and creating tools in Python for parallelization (<a href="https://github.com/DataMedSci/mcpartools">github.com/DataMedSci/mcpartools</a>) of physics simulations done in frameworks like SHIELD-HIT12A, Fluka or GEANT4. Optimization part was written in Python with use of some Open Source libraries like <a href="https://github.com/DataMedSci/beprof">github.com/DataMedSci/beprof</a> and <a href="https://github.com/DataMedSci/pymchelper">github.com/DataMedSci/pymchelper</a>.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">BSc in Computer Science</h3>
                <div class="time">10.2012 - 01.2016</div>
            </div><!--//upper-row-->
            <div class="company">AGH University of Science and Technology in Cracow</div>
        </div><!--//meta-->
        <div class="details">
          <p>Authored <i>“Platform aiding design of elements shaping the range of therapeutical proton beams” as bachelor's project</i>.</p>
          <p>The main tasks consisted of designing a Graphical User Iterface in Qt and putting it all together with scientific code written in Python, which was refactored from old projects. SciPy - a scientific Python stack was also used in the process.</p>
        </div><!--//details-->
    </div><!--//item-->
</section><!--//section-->
