<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Computer Systems Administrator</h3>
                <div class="time">02.2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Intelligent Information Systems Group, Cracow</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>building and maintaining computer systems and servers (Fedora, CentOS)</li>
                <li>installing and maintaining system software and application software (Python, Cobbler)</li>
                <li>writing and maintaining documentation websites (Python &amp; Django)</li>
                <li>updating student labs to the latest information technologies</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Java Developer</h3>
                <div class="time">01.2015 - 02.2016</div>
            </div><!--//upper-row-->
            <div class="company">Forensic Software Lab, Cracow</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
              <li>developing component based software designed to analyse disk data (Java, Eclipse RCP)</li>
              <li>writing software tests and documentation</li>
          </ul>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
