<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

	<div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Web Developer</h3>
                <div class="time">05.2017 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Forensic Software Lab, Cracow</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Developing frontend elements (AngularJS, CoffeeScript, Bootstrap)</li>
		<li>Server-side managing (Python, Django, Celery, REST, Redis)</li>
                <li>Trouble shooting and problem solving</li>
                <li>Suggesting improvements on design and functionality</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
	
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Computer Systems Administrator</h3>
                <div class="time">02.2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Intelligent Information Systems Group, Cracow</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Building and maintaining computer systems and servers (Fedora, CentOS)</li>
                <li>Maintaining system software and application software (Python, Cobbler)</li>
                <li>Writing and maintaining websites (Python &amp; Django)</li>
                <li>Updating student labs to the latest information technologies</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Java Developer</h3>
                <div class="time">01.2015 - 02.2016</div>
            </div><!--//upper-row-->
            <div class="company">Forensic Software Lab, Cracow</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
              <li>Developing component based software designed to analyse disk data (Java, Eclipse RCP)</li>
              <li>Writing software tests</li>
	      <li>Maintaining documentation</li>
          </ul>
        </div><!--//details-->
    </div><!--//item-->
</section><!--//section-->
