<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-users"></i>Projects and other activities</h2>
  <!--<div class="intro">
      <p>You can list your side projects or open source libraries in this section...</p>
  </div>//intro-->
  <div class="item">
      <span class="project-title">Student forums administration</span> - <span class="project-tagline">Moderating and administrating student forums on my Alma Mater.</span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title"><a href="#" target="_blank">MCParTools</a></span> - <span class="project-tagline">Python software simplifying time consuming simulation of particle transport using Monte Carlo codes (Fluka, SHIELDHIT12A).</span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title"><a href="#" target="_blank">Beam Profile Analysing Tools</a></span> - <span class="project-tagline">Library provides methods to work with Beam Profiles which are sets of points (2-D with optional metadata) sorted by one of coordinates.</span>
  </div><!--//item-->
</section><!--//section-->
